/* ---------------------------------------login form--------------------------------- */
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.form-login{
    margin-top: 3%;
    text-align: center;
    
    
}
#name,#password,#email{
    margin: 1%;
    padding: 1%;
    width: 30%;
}
#btn-login,#btn-signin{
    margin: 1%;
    padding: 1%;
    width: 10%;
    border-radius: 20px;
    background: rgb(77, 174, 219);
}
#profile{
    width: 10%;
    border-radius: 50%;
}
<<<<<<< HEAD
/* ---------------------------------------------form infomation----------------------------------- */
.form-info{
    display: flex;
    height: 576px;
}

.info{
    padding: 1%;
    background: rgb(221, 245, 247);
    width: 30%;
    
}
=======


>>>>>>> 2740d943dd8008f5817b33739035e536c1ca5ba6
